html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}

div.stamp-pool-list {
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: sticky;
	top: 0;
	min-width: 160px;
}

div.stamp-pool-item {
	padding-right: 1rem;
}

div.stamp-pool-item div {
	position: relative;
	display: flex;
	flex-direction: row;
	user-select: none;
}

div.stamp-pool-item [data-active="only"] {
	display: none;
}

div.stamp-pool-item[data-active=true] [data-active="only"] {
	display: initial;
}

div.stamp-pool-item[data-active=true] [data-active="invert"] {
	display: none;
}

div.stamp-pool-item[data-used=true] {
	color: grey;
}

div.stamp-pool-item .indicator {
	display: inline-block;
	color: black;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	vertical-align: baseline;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

div.map-list {
	overflow: auto;
	position: relative;
	top: 0;
	flex: 1;
}

div.map-holder {
	background-image :var(--map);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	margin: auto;
}

div.map-tag {
	--unit: 4px;
	position: absolute;
	background-color: var(--c, #0f0);
	left: calc(100% * var(--l));
	top: calc(100% * var(--t));
	width: calc(calc(var(--unit) * var(--x)) * var(--scale));
	height: calc(calc(var(--unit) * var(--y)) * var(--scale));
	transform: rotate(calc(360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.1s ease-out;
	transform-origin: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border: 1px solid black;

}

div.map-tag button {
	border: 0;
	border-radius: 50%;
	padding: 0;
	background-color: black;
	display: none;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

div.map-tag button[data-type="close"] {
	position: absolute;
	background-image: url(/x.svg);
	top: -0.75em;
	right: -0.75em;
	width: 2em;
	height: 2em;
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.1s ease-out;
}

div.map-tag .buttons {
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.1s ease-out;
	position: absolute;
	top: -1rem;
	left: -2rem;
}

div.map-tag p {
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.1s ease-out;
}

div.map-tag button[data-type="rotate-left"] {
	background-image: url(/rotate-left.svg);
	top: 50%;
	left: -0.75em;
	width: 2em;
	height: 2em;
}

div.map-tag button[data-type="rotate-right"] {
	background-image: url(/rotate-right.svg);
	top: 50%;
	right: -0.75em;
	width: 2em;
	height: 2em;
}

html div.map-tag[data-active=true] button {
	display: initial;
}

div.map-controls {
	display: flex;
	flex-direction: column;
}

div.map-controls label {
	display: flex;
	flex-direction: row;
}

div.map-controls label span {
	min-width: 5em;
	text-align: right;
}
div.map-controls input[type=number] {
	width: 5em;
	text-align: right;
}

div.map-controls input[type=range] {
	flex: 1;
}

div.map-buttons button {
	margin: 0.5rem;
}

div.map-buttons {
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: white;
}

div.map[data-visible=false],
div.map-buttons[data-visible=false],
div.map-controls[data-visible=false] {
	display: none;
}

html div.map {
	position: relative;
}

html div.map > img,
html div.map > canvas {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
}


div.map > svg {
	position: relative;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	z-index: 1;
}

div.map > img {
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
}

div.map-list .tabs {
	display: flex;
	flex-direction: row;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: white;
}

div.map-list .tabs input {
	padding: 1rem;
}

div.map-list .tabs .tab {
	padding: 1rem;
	border: 1px solid black;
	margin-right: -1px;
	transition: 0.1s ease-in all;
}

div.map-list .tabs .tab[data-visible=true] {
	background-color: black;
	color: white;
}
