html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
}

div.stamp-pool-list {
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: sticky;
	top: 0;
}

div.stamp-pool-item {
	position: relative;
	display: flex;
	flex-direction: row;
	user-select: none;
}

div.stamp-pool-item[data-used=true] {
	color: grey;
}

div.map-list {
	overflow: auto;
	position: sticky;
	top: 0;
	flex: 1;
}

div.map {
	overflow: hidden;
}

div.map-holder {
	position: relative;
	background-image :var(--map);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	margin: auto;
}

div.map-tag {
	--unit: 4px;
	position: absolute;
	background-color: #0f0;
	left: calc(100% * var(--l));
	top: calc(100% * var(--t));
	width: calc(calc(var(--unit) * var(--x)) * var(--scale));
	height: calc(calc(var(--unit) * var(--y)) * var(--scale));
	transform: rotate(calc(360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.2s ease-out;
	transform-origin: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border: 1px solid black;

}

div.map-tag button {
	border: 0;
	border-radius: 50%;
	padding: 0;
	background-color: black;
	display: none;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}

div.map-tag button[data-type="close"] {
	position: absolute;
	background-image: url(/x.svg);
	top: -0.75em;
	right: -0.75em;
	width: 2em;
	height: 2em;
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.2s ease-out;
}

div.map-tag .buttons {
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.2s ease-out;
	position: absolute;
	top: -1rem;
	left: -2rem;
}

div.map-tag p {
	transform: rotate(calc(-360deg * calc(var(--rotation,0) + var(--r,0)))) scale(1);
	transition: transform 0.2s ease-out;
}

div.map-tag button[data-type="rotate-left"] {
	background-image: url(/rotate-left.svg);
	top: 50%;
	left: -0.75em;
	width: 2em;
	height: 2em;
}

div.map-tag button[data-type="rotate-right"] {
	background-image: url(/rotate-right.svg);
	top: 50%;
	right: -0.75em;
	width: 2em;
	height: 2em;
}

div.map-tag:hover button {
	display: initial;
}

div.map-controls {
	display: flex;
	flex-direction: column;
}

div.map-controls label {
	display: flex;
	flex-direction: row;
}

div.map-controls label span {
	min-width: 5em;
	text-align: right;
}
div.map-controls input[type=number] {
	width: 5em;
	text-align: right;
}

div.map-controls input[type=range] {
	flex: 1;
}

div.map-buttons button {
	margin: 0.5rem;
}

div.map-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

html div.map {
	position: relative;
}

html div.map > img,
html div.map > canvas {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
}

div.map > svg {
	position: relative;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	z-index: 1;
}

div.map > img {
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
}
